body{
    background: linear-gradient(rgba(109, 162, 166, 0.5), rgba(109, 162, 166, 0.5)),url(../img/background.jpg);;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.form-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h1{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: white;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 31px -4px rgba(255,255,255,0.62);
    -webkit-box-shadow: 1px 1px 31px -4px rgba(255,255,255,0.62);
    -moz-box-shadow: 1px 1px 31px -4px rgba(255,255,255,0.62);
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 1px 1px 31px -4px rgba(48,184,194,0.62);
    -webkit-box-shadow: 1px 1px 31px -4px rgba(48,184,194,0.62);
    -moz-box-shadow: 1px 1px 31px -4px rgba(48,184,194,0.62);
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-decoration: none;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: #30b8c2;
    border-radius: 30px;
    transition: 0.5s;

}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #30b8c2;
    outline: none;
    background: transparent;
}

.submit-button{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #30b8c2;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
}

#login-form{
    left: 50px;
}

#signup-form{
    left: 450px;
}

button:focus {outline:0;}